<nav class="nav">
    <div class="nav_logo">
        <a>Logo</a>
    </div>

    <ul class="nav_menu" [class.show]="isMenuOpen">
        <li class="nav_menu_item">
            <a routerLink="home" routerLinkActive="active" class="nav_menu_item_link">Home</a>
        </li>
        <li class="nav_menu_item">
            <a routerLink="students" routerLinkActive="active" class="nav_menu_item_link">Students</a>
        </li>
        <li class="nav_menu_item">
            <a routerLink="courses" routerLinkActive="active" class="nav_menu_item_link">Course</a>
        </li>
        <li class="nav_menu_item" *ngIf="isAdmin()">
            <a routerLink="instructor" routerLinkActive="active" class="nav_menu_item_link">Instrcutor</a>
        </li>
        <li class="nav_menu_item" *ngIf="!isAdmin()">
            <a routerLink="about-us" routerLinkActive="active" class="nav_menu_item_link">About Us</a>
        </li>
        <button class="primary-btn nav_menu_button" (click)="logoutUser()">Logout</button>
    </ul>

    <div class="nav_buttons">
        <button class="primary-btn" (click)="logoutUser()">Logout</button>
    </div>

    <div class="nav_toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>