footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 35px;
}

p {
    font-size: 14px;
    color: grey;
    text-align: center;
}

.social_media {
    display: flex;
    gap: 15px;
}

i {
    font-size: 24px;
}