<!-- for footer section of the all pages in the design -->
<footer>
    <h1>
        E-LEARGING WITH US
    </h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores repudiandae doloremque excepturi itaque
        magnam odio voluptatum beatae? Corporis ullam quia assumenda ratione facere quam, similique laborum dicta esse
        magnam illo quis animi ut quidem voluptatibus. Similique omnis dolorum, molestiae voluptatibus aperiam vitae
        dolor necessitatibus et, ut magnam praesentium qui perspiciatis?
    </p>
    <div class="social_media">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-solid fa-phone"></i>
    </div>
</footer>