
<!-- this component is for home page banner section -->
<div class="parent">
    <div class="container">
        <div class="column">
            <h6>Lets</h6>
            <h1>E-Learning</h1>
            <h4>at your home</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, quaerat? Necessitatibus sapiente sint,
                nisi libero ad, expedita vitae quo iste odit excepturi dolorum hic dolore quaerat quidem maxime qui
                repellat.</p>
        </div>
        <div class="banner">
            <img src="assets/banner.png" alt="">
        </div>
    </div>
</div>