<section class="about-us">
    <h1>About Us</h1>
    <div class="content">
        <div class="left">
            <img src="assets/elearning.png" alt="banner">
        </div>
        <p class="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quaerat, ab sit ullam
            illo eius,
            voluptatum vel ea consequuntur a ad optio amet deleniti! Cumque velit ducimus, hic ad error mollitia nobis
            molestias iure eius provident tenetur nostrum vitae asperiores aspernatur ratione temporibus facere quam
            esse voluptate, eum tempore facilis quae ipsam. Ducimus adipisci velit eos. Ipsam blanditiis labore corporis
            tenetur facilis, dolorum fuga animi similique dicta vitae, cum hic mollitia tempore! Ratione ex
            reprehenderit placeat, minus rerum fuga culpa eligendi pariatur modi facere aut molestias, aliquam ducimus
            ad sequi earum? Quidem, earum illo! Rerum voluptatum consectetur sed adipisci perferendis.</p>
    </div>
</section>