<div class="parent">
    <div class="box">
        <form class="reset-form" (ngSubmit)="resetPassword()">
            <h1>Forgort Password?</h1>
            <p>Remember your Password? <a routerLink="/login">Login Here</a></p>
            <div class="form_input">
                <label for="email">Enter Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="resetform.email">
            </div>
            <div class="form_input" *ngIf="userExist">
                <label for="password">Enter password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="resetform.password">
            </div>
            @if(userExist){
            <button class="reset-btn" (click)="resetPassword()">Reset Password</button>
            }@else {
            <button class="reset-btn" (click)="checkUser()">Check Email</button>
            }
        </form>
    </div>
</div>